/*

File: style.css

Version 0.5
Author: TODO: add our names

A style sheet to customize and refine the appearance of the pub's application.
*/

/* Tags */
body {
	margin: 0;
}

img {
    display: flex;
    width: 320px;
    margin: 0 auto;
}

input {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}

/* Classes */

.main {
    background-color: burlywood;
    border: 2px solid black;
    display: none;
    width: 75%;
    margin: 20px auto;
    height: 640px;
}

.menu_item {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
}

.order_item {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
}

/* ID:s */

#guest {
}

#menu {
    display: block;
    border: 2px solid black;
    float: left;
    width: 55%;
    height: 500px;
    margin: 4px;
}

#order {
    display: block;
    border: 2px solid black;
    float: right;
    width: 40%;
    height: 294px;
    margin: 4px;
}

#balance {
    display: block;
    border: 2px solid black;
    float: right;
    width: 40%;
    height: 192px;
    margin: 4px;
    text-align: center;
}

#login {
    background-color: burlywood;
    border: 2px solid black;
    display: block;
    width: 50%;
    margin: 20px auto;
    height: 280px;
}

#login_button {
    height: 32px;
    width: 128px;
}

