/*

File: style.css

Version 0.5
Author: TODO: add our names

A style sheet to customize and refine the appearance of the pub's application.
*/

/* Tags */
body {
	margin: 0;
    font-family: 'Vollkorn', serif;
}

img {
    display: flex;
	align-self: center;
    width: 340px;
    margin: 0 auto;
}


/* Menu Classes */

.menu_bar_item {
	display: flex;
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 2px;
	margin-right: 2px;
	width : 5em;
	background-color: #ffd29a;
	justify-content: center;
}

.menu_bar_item:hover {
    background-color: #ffdfb8
}

/* Menu ID:s */

#menu {
    background-color: burlywood;
    border: 2px solid black;
    width: 75%;
    margin: 20px auto;
	margin-top: 50px;
    height: 85%;
}

#menu_bar {
	display: flex;
	justify-content: flex-start;
	margin: auto;
	margin-top: 0.7em;
	width: 90%;
	height: 4%;
}

#menu_view {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 0.5em;
	width: 90%;
	height: 70%;
	overflow-y: scroll;
}


/* Login ID:s */

#login {
    background-color: burlywood;
    border: 2px solid black;
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 200px;
    height: 300px;
}

#login_button {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #ffd29a;
}

#login_button:hover {
    background-color: #ffb686
}

#login_manager {
    display: flex;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #ffd29a;
}

#login_manager:hover {
    background-color: #ffb686
}

#login_text {
    text-align: center;
    margin-top: 0px;
}


#login_input {
    display: flex;
    flex-wrap: wrap;
    margin-top: -2%;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffd29a;
}

#login_topbar {
    display: flex;
    justify-content: flex-end;
}

#login_manager {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-size: 0.45em;
    width: auto;
    padding: 4px;
    margin-right: 1em;

}

/* choose table frame */

#choose_screen {
    background-color: burlywood;
    border: 2px solid black;
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    height: 500px;
}

.table {
    float: left;
    border: 2px solid black;
    background-color: saddlebrown;
    width: 10%;
    height: 10%;
    margin-left: 17.5%;
    margin-top: 5%;

    text-align: center;
    color: #ffd29a;
}

.table:hover {
    background-color: sienna;
}

#table_bar {
    width: 20%;
    margin-left: 40%;
}

#language_bar {
    display: flex;
    justify-content: flex-end;
}

#language {
    width: 5%;
    margin: 1em;
}

/* Scrollbar customisation */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: burlywood;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd29a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffdfb8;
}

/* END OF FILE */
